*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: rgba(190, 190, 255, 0.461);
}
.card-1{
    background: linear-gradient(to left top, white, rgb(255, 152, 169), rgb(167, 167, 255));
    width: 350px;
    height: 400px;
    display: inline-block;
    padding-top: 30px;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 100px;
}
.card-1__img{
    width: 200px;
}
.card-1__name{
    margin: 30px 0;
    font-size: 22px;
    font-family: 'Rubik Wet Paint', cursive;
}
.card-1__musik{

}
.card-2{
    background: linear-gradient(to left top, white, rgb(255, 152, 169), rgb(167, 167, 255));
    width: 350px;
    height: 400px;
    display: inline-block;
    padding-top: 30px;
    border-radius: 20px;
    margin-left: 300px;
    margin-top: 100px;
}
.card-2__img{
    width: 200px;
}
.card-2__name{
    margin: 30px 0;
    font-size: 22px;
    font-family: 'Rubik Wet Paint', cursive;
}
.card-2__musik{

}